@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
.contact{
    background-color: rgb(249, 249, 249);
}
.contact div{
    padding-top:7%;
    padding-bottom:4%;
}
.contact form{  
    display:flex;
    width:40%;
    flex-direction: column;
    background-color: rgb(237, 225, 210);
    position:relative;
    left:30%; 
    padding:15px 20px 25px 20px;
    border-radius: 7px;

}
.contact label{
    margin: 4px 4px 4px 4px;
    text-align:justify;

}
.contact input{
    margin: 4px 4px 4px 4px;
    padding: 5px 7px;
}
.contact textarea{
    resize:none;
    margin: 4px 4px 15px 4px;
}
.contact button{
    padding:5px 7px;
    width:30%;
    background-color: transparent;
    border-radius: 5px;
    transition:transform 0.3s ease;
}
.contact button:hover{
    transform:scale(0.9);
    border:2px #515f3a solid;
    cursor: pointer;
    background-color: rgba(232, 200, 134, 0.8); 

}
@media(max-width:768px){

    .contact form{  
        width:60%;
        left:15%; 
        padding:15px 25px 28px 25px;
    }

    .contact button{
        margin-left: 4px;
        padding:5px 7px;
        width:40%;
        
    }
}