@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
.footer{
  background-color: #F453AD;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin: 0;
}
.leftSideFooter{
    position:relative;
    top:5%;
}
.leftSideFooter p{
    font-weight:600;
    font-size:20px;
    color: #7f160c;
}
.socialLinks a{
    font-size: 20px;
    margin-right:3px;
    margin-left:4px;
    color:#7f160c;
    transition:transform 0.3s ease;
    
}
.socialLinks a:hover{
    transform:scale(1.5);
    color:white;
    cursor: pointer;
}
.middleAreaFooter{
    position:relative;
    top:5%;
    left:20%;
}
.middleAreaFooter ul{
    list-style: none;

}
.middleAreaFooter li{
    text-align:justify;
    color:#7f160c;
    font-weight:500;
    transition:transform 0.3s ease;
}

.middleAreaFooter li:hover{
    text-decoration: underline;
    color:white;
    cursor: pointer;
}
.rightSideFooter{
    position:relative;
    top:5%;
    left:35%;
}
.rightSideFooter ul{
    list-style: none;

}
.rightSideFooter a{
    text-align: justify;
    color:#7f160c;
    text-decoration: none;
    font-weight:500;
}
.rightSideFooter a:hover{
    text-decoration: underline;
    color:white;
    cursor: pointer;
}
@media(max-width:768px){
    .leftSideFooter p{
     
        font-size:15px;
       
    }
    .socialLinks a{
        font-size:17px;
        margin-right:2px;
        margin-left:3px;
       
    }
    .middleAreaFooter{
        left:3%;
    }
    .rightSideFooter{
        left:1%;
    }
}