@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.footer {
  background:linear-gradient(to right, #f8b2ca, #d16999);
  height: auto;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  font-family: 'Poppins', sans-serif;
}

.leftSideFooter p {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.socialLinks a {
  font-size: 20px;
  margin: 0 8px;
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease;
}

.socialLinks a:hover {
  transform: scale(1.2);
  color: #333; 
}

.middleAreaFooter, .rightSideFooter {
  text-align: center;
}

.middleAreaFooter ul, .rightSideFooter ul {
  list-style: none;
  padding: 0;
}

.middleAreaFooter li, .rightSideFooter a {
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
  text-decoration: none;
}

.middleAreaFooter li:hover, .rightSideFooter a:hover {
  color: #333; 
  text-decoration: underline;
}


@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .middleAreaFooter, .rightSideFooter {
    margin-top: 10px;
  }
}
