@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
* {
  font-family: 'Lora', serif;
  scroll-behavior: smooth;
}
.Header {
  background: linear-gradient(to right, #f8b2ca, #d16999);
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1000;

}
.leftSide {
  display: flex;
  margin-right: 1%;
  
}
.leftSide img {
  margin-right: 15px;
  width:80px;
  transition:transform 0.3s ease;
}
.leftSide img:hover{
    transform:scale(0.8);
}
.leftSide h2 {
  font-weight: bolder;
  position: relative;
  top: 30%;
  
}
.searchBar {
  position: relative;
  left: 18%;
  top: 20%;
  display: flex;
  align-items: center;
}
.searchBar input {
  padding: 7px 7px 7px 30px;
  border-radius: 7px;
  border: solid 2px #F283B6;
  transition: all 0.3s ease;
  outline: none;
}
.searchBar input:focus {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}
.searchBar .searchIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
}

.rightSide {
  position: relative;
  left: 40%;
  top: 35%;
  align-items: center;
}
.rightSide ul{
    display:flex;
    justify-content: space-around;
    list-style: none;
}
.liLinks a{
  color:black;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-size: 22px;
  border-radius: 5px;
  position:relative;
  top:-15px;
}
.liLinks li{
  padding-right: 5px;
  padding-left: 7px;
  font-size: 25px;
}
.dropdownIcon{
  display:none;
}
.liLinks a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
@media(max-width:768px){
  .header{
    height:70px;
  }
  .leftSide{
    margin-right:0.4%;

  }
  .leftSide img{
    margin-right:4px;
  }
  .leftSide h2{
    font-size: 20px;
  }
  .searchBar{
    left:5%;
    top:5%;
  }
  .searchBar input{
    display:none;

  }
  .searchBar .searchIcon {
    left: 17px;
    top:10px;
   
  }
  .searchBar .searchIcon:hover{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}
  
  .rightSide{
    left:6%;
  }
  .liLinks li{
    font-size:20px;
    margin-right: 2px;
   
  }
  .dropdownIcon{
    display:inline-block;
    position:relative;
    top:-14px;
  }
  .dropdownIcon:hover{
      background-color: rgba(255, 255, 255, 0.2);
      color: white;
  }

  
}