@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
* {
  font-family: 'Lora', serif;
  scroll-behavior: smooth;
}
.Header {
  background: linear-gradient(to right, #f8b2ca, #d16999);
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1000;

}
.leftSide {
  display: flex;
  margin-right: 1%;
  
}
.leftSide img {
  margin-right: 15px;
  width:80px;
  transition:transform 0.3s ease;
}
.leftSide img:hover{
    transform:scale(0.8);
}
.leftSide h2 {
  font-weight: bolder;
  position: relative;
  top: 30%;
  
}
.searchBar {
  position: relative;
  left: 18%;
  top: 20%;
  display: flex;
  align-items: center;
}
.searchBar input {
  padding: 7px 7px 7px 30px;
  border-radius: 7px;
  border: solid 2px #F283B6;
  transition: all 0.3s ease;
  outline: none;
}
.searchBar input:focus {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}
.searchButton {
  position: absolute;
  left:70%;
  top: 19%;
  font-size: 16px;
  border:none;
  background: none;
  transition:transform 0.3s ease;
  color: #555;
}
.searchButton:hover{
 color:#F283B6;
 transform:scale(0.9);
}
.cart-toggle-btn{
  background: transparent;
  border:none;
  color:black;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-size: 22px;
  border-radius: 5px;
  position:relative;
  top:-15px;
}
.cart-toggle-btn:hover{
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
.rightSide {
  position: relative;
  left: 40%;
  top: 35%;
  align-items: center;
}
.rightSide ul{
    display:flex;
    justify-content: space-around;
    list-style: none;
}
.liLinks a{
  color:black;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-size: 22px;
  border-radius: 5px;
  position:relative;
  top:-15px;
}
.liLinks li{
  padding-right: 5px;
  padding-left: 7px;
  font-size: 25px;
}
.dropdownIcon{
  display:none;
}
.liLinks a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
.searchResults ul {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  list-style-type: none;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  background-color: white;
  max-height: 250px;
  overflow-y: auto;
}

.searchResults li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.searchResults li:hover {
  background-color: #f8f8f8;
  color: #c30e74;
}

.searchResults img {
  width: 40px;

  object-fit: cover;
  border-radius: 5px;
}

.dropdownIcon {
  cursor: pointer;
}
@media(max-width:768px){
  .header{
    height:70px;
  }

  .leftSide{
    margin-right:0.4%;
  }
  .leftSide img{
    margin-right:4px;
  }
  .leftSide h2{
    font-size: 20px;
  }
  .searchBar {
    position: relative; 
  }
  
  .searchForm {
    display: none;
    position: absolute;
    left:-220px;
    padding: 2px 4px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #F283B6;
    width: 200px;
  }
  .searchBar input {
    padding: 4px 7px;
    border-radius: 7px;
    border: solid 2px #F283B6;
    transition: all 0.3s ease;
    outline: none;
  }
  .searchForm.show {
    display: block;
  }
  
  .searchBar .searchIcon {
    cursor: pointer;
    position:relative;
    left:-20px;
    top:-5px;
    font-size: 20px;
    color: black;
  }
  
  .searchBar .searchIcon:hover {
    color: #F283B6;
  }
  

  .rightSide{
    left:6%;
  }
  
  .liLinks li{
    font-size:20px;
    margin-right: 2px;
  }

  .dropdownIcon{
    display:inline-block;
    position:relative;
    top:-14px;
  }
  
  .dropdownIcon:hover{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
  }
}
