@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.dropdownList {
    position: absolute;
    top: 49%;
    left: 25%;
    padding: 5px 10px;
    list-style-type: none;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    flex-direction: column;
    background-color: white
}

.dropdownList a{
    text-decoration: none;
    color:black;
    
}
.dropdownList li {
    padding: 8px;
    margin-left: 3px;
    cursor: pointer;
    border-bottom: 1px solid #ccc; 
    transition: transform 0.3s ease;
}

.dropdownList li:hover {
    color: #c30e74;
    cursor: pointer;
    transform: scale(0.9);
}

.dropdownIcon {
    cursor: pointer;
}
