@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
.midSection{
    margin: 0;
}
.midSection img{
  width:100%;
  object-fit: cover;
  height:100vh;
}
.midSection button {
    position: absolute;
    top: 85%;
    left: 10%;
    padding: 15px 25px;
    color: #1e5353; 
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    border: solid 2px #248a8a;
    background: linear-gradient(135deg, rgba(36, 109, 109, 0.1), rgba(36, 109, 109, 0.3));
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.midSection button:hover {
    transform: scale(1.05); 
    box-shadow: 0px 5px 12px rgba(36, 109, 109, 0.5);
    background: #248a8a;
    border-color: #1e5353;
    cursor: pointer;
}
