@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
.ClothHeader{
    height:50px;
    border-radius:7px;
    width:40%;
    background: linear-gradient(to right, #f8b2ca, #d16999);
    margin:auto;
    position:absolute;
    left:30%;
}
.clothesList{
    display:flex;
    flex-direction: row;
    list-style: none;
    align-items:center;
    position:relative;
    left:2%;
    top:-20%;
}
.clothesList a{
    font-size:20px;
    color:white;
    padding-left: 7px;
    padding-right:7px;
    padding-top:7px;
    text-decoration: none;
    
}
.clothesList li{transition:transform 0.3s ease;}
.clothesList a:hover{
    color:black;
    cursor:pointer;
}
.clothesList li:hover{
   
    transform:scale(0.9);
}
@media(max-width:768px){
    .ClothHeader{
        display:none;
    }
}